<!-- Grey with black text
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <div class="container">
    <div class="container-fluid">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">myBank</a>
            </li>
            <li class="nav-item">
            
                <a class="nav-link" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">

                <a class="nav-link" routerLink="/signup">Sign Up</a>  
            </li>
        </ul>
    </div>
</div>
</nav> -->






<div class ="bootstrap-wrapper">
    <div class="container">
        <div class ="row" style ="margin-top: 20px;">
            <div class="col-md-6 offset-md-3">
            
              
                <div class ="logo-container text-center">
                    <img src ="../../../assets/signuplogo.jpg" alt=""/>
                </div>
                    <h1 class="text-center">Login Here!!</h1>
                    
                        <!--username field-->

                        <form  class = "text-center" (ngSubmit)="formSubmit()" >
                            <mat-form-field class ="full-width" appearance="fill">
                                <mat-label>Email</mat-label>
                                <input 
                                [(ngModel)]="loginData.email"
                                            name = "Email"matInput placeholder="Enter here">
                             </mat-form-field>
                            <br>

                            <mat-form-field class ="full-width" appearance="fill">
                                <mat-label>Password</mat-label>
                                <input 
                                [(ngModel)]="loginData.password"
                                            name = "Password"matInput placeholder="Enter here">
                             </mat-form-field>
                                <br>

                                <div class="container text-center">
                                <button mat-raised-button color="primary" type="submit ">Login</button>
                                <button style="margin-left:20px" mat-raised-button color="primary">Clear</button>
                                <br>
                                <br>                          
                                <button mat-raised-button color="primary" (click)="signUp()" >SignUp</button>
                                </div>

                    </form>
                <!--</mat-card>-->
                
                
                </div>
            </div> 
        </div>

    </div>

