.main{
    position: relative;
}
.abc{
    
    position: relative;
    left: 18em;
    top: 4em;
    h1{
        font-size: 3.5em;
        color: cadetblue;
        font-weight: bold;
    }
    h3{
        position: relative;
    left: 1em;
    left: 5em;
    bottom: -3em;
    font-size: 3em;
    font-weight: 700;
    color: burlywood;
}
h5{
    position: relative;
left: 1em;
left: 5em;
bottom: -3.25em;
font-size: 3em;
font-weight: 700;
color: burlywood;
}
h6{
    position: relative;
left: 1em;
left: 5em;
bottom: -3.5em;
font-size: 3em;
font-weight: 700;
color: burlywood;
}
    
    .logo-container{
    height: 8em;
    width: 1em;
    display: flex;
    bottom: 1em;
    position: relative;
    left: 16em;

    
       
    
    }

}




