


         
   
 
   
   
    
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style=" font-weight: bold; font-size: large;">Add Details for payee</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="modalRef.close()"
        ></button>
      </div>
   <div class="radio-button">
            <input name="Name1" [checked]="isOtherBank==1" type="radio" value="1" id="SIB" (change)="checkbank($event.target) ">
            <label  for="SIB" >Simran Inovation Bank</label>
            <br>
          
            <input name="Name1"  [checked]="isOtherBank==2" type="radio" value="2" id="other" (change)="checkbank($event.target)">
            <label  for="other">Others</label>
    </div>
      <form [formGroup]="payeeForm"  (ngSubmit)="onSubmit(payeeForm)">
      
        
      <div class="modal-body">
        <mdb-form-control>
            <label mdbLabel  class="form-label" for="form1">Account Number</label>
            <input  type="text"  id="form1" class="form-control" formControlName="accountNumber" >
          
            <mat-error *ngIf="payeeForm.controls.accountNumber.touched && payeeForm.controls.accountNumber.invalid">
                    <span *ngIf="payeeForm.controls.accountNumber.errors.required">This  field is mandatory</span>
                    <span *ngIf="payeeForm.controls.accountNumber.errors.pattern">This field is invalid 
                    </span>
                       
                    </mat-error>
           
            
          </mdb-form-control>
          <mdb-form-control *ngIf="isOtherBank==2">
            <label mdbLabel class="form-label" for="form1">IFSC</label>
            <input  mdbInput type="text" id="form1" class="form-control" formControlName="ifsc" />
            <mat-error *ngIf="payeeForm.controls.ifsc.touched && payeeForm.controls.ifsc.invalid">
              <span *ngIf="payeeForm.controls.ifsc.errors.required">This  field is mandatory</span>
              <span *ngIf="payeeForm.controls.ifsc.errors.pattern">This  field is invalid
              </span>
                 
              </mat-error>
            
          </mdb-form-control>
          <mdb-form-control>
            <label mdbLabel class="form-label" for="form1">Name</label>
            <input mdbInput type="text" id="form1" class="form-control" formControlName="name" />
        
          </mdb-form-control>
         
      </div>
      </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
          Close
        </button>
        <button *ngIf ="!existpayeeDetails"type="button" class="btn btn-primary"[disabled]="payeeForm.invalid" (click)="onSubmit(payeeForm) ">Save changes</button>
        <button *ngIf = "existpayeeDetails" type="button" class="btn btn-primary" (click)="onUpdate(payeeForm)">update changes</button>
      </div>
   
    
   
   